extends layouts/app.jade

block title
  title Clinician Sign In

block header
  include partials/header-login.jade

block main
  .sign-up.space
    .container
      .row
        .col-12
          .item.box-card.mx-auto.text-center
            h1.ff-work.font-weight-bold.color-cloud-burst.mb-2 
              | Login to
              br 
              | your account
            form.row.color-tundora(action="#")
              .col-12.mt-4
                input.input-text(type="text" placeholder="Your e-mail address")
              .col-12
                input.input-text(type="text" placeholder="Your password")      
              .col-12.mt-2.mb-4
                button.button.btn.bg-tamarillo.w-100.color-white.font-weight-bold.ff-work.input-submit(type="button") Login to your account
              .d-grid.w-100.align-items-center.color-boulder
                .column.bg-alabaster.form-social.mt-2
                  a.d-flex.align-items-center.justify-content-center.text-decoration-none.color-boulder(href="#")
                    img(src="dist/images/google.png" alt="")
                    span Google
                .column.mt-2
                  span.or or
                .column.bg-alabaster.form-social.mt-2
                  a.d-flex.align-items-center.justify-content-center.text-decoration-none.color-boulder(href="#")
                    img(src="dist/images/facebook.png" alt="")
                    span Facebook
              .col-sm-6.px-0.mt-4
                a.color-comet.ff-work.font-small.pt-2(href="#") Already have an account?
              .col-sm-6.px-0.text-sm-right.text-center.mt-sm-4.mt-2
                a.color-comet.ff-work.font-small.pt-2(href="#") Forgot password   