extends layouts/app.jade

block title
  title Counselor Onboarding 1

block header
  include partials/header-login.jade

block main
  .onboarding.onboarding-1.space
    .container
      .row
        .col-md-6.color-tundora.pt-5
          h1.color-cloud-burst.mb-4 Help us match you with the right patient.
          p Please fill out this short questionnaire to provide some general and anonymous background about you and the issues you’d like to deal with in online therapy. 
          p This information will help us match you with the most suitable  clinician for you. Your answers will also give this clinician a good  starting point in getting to know you.
        .col-md-6
          form.box-card.ml-auto.question(action="#" style="max-width: 450px;")
            .mb-0  
              h3.color-cloud-burst.position-relative.d-flex Personal details
                .step 1/5
              .mt-3
                input.input-text(type="text" placeholder="Your full name")
                input.input-text(type="text" placeholder="First line of your address")
                input.input-text(type="text" placeholder="Town/City")
                input.input-text.mb-0(type="text" placeholder="Zip code")
            .d-grid.text-center.mt-3.pt-3
              button.ff-work.color-boulder.mb-2.input-submit.bg-alabaster.text-center.font-weight-bold.text-uppercase.font-medium(type="submit") 
                <i class="fal fa-angle-left mr-2"></i>
                | Back
              button.ff-work.mb-2.input-submit.bg-tamarillo.font-weight-bold.text-uppercase.color-white.font-medium(type="submit") 
                | Next question
                <i class="fal fa-angle-right ml-2"></i>
            p.font-medium.mb-0.color-comet.mt-2.d-flex 
              span.color-geraldine *
              | We need to get some from you before you are allowed to access the full platform