extends layouts/app.jade

block title
  title Clinician Schedule 1

block main
  .space
    .container
      form.date-calander.mx-auto.pt-0(action="#")
        <div class="calender-table table-responsive"></div>
        .setting
          button.ff-work.mb-2.input-submit.bg-tamarillo.font-weight-bold.text-uppercase.color-white.font-medium(type="submit") 
            | Book out slots
          button.ff-work.color-boulder.mb-2.input-submit.bg-alabaster.text-center.font-weight-bold.text-uppercase.font-medium(type="submit") 
            | Back  