extends layouts/app.jade

block title
  title Home

block header
  include partials/header-login.jade

block main
  #accordionExample.accordion
    .card
      #headingOne.card-header
        h2.mb-0
          button.btn.btn-link.color-boulder(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            | Design Patient
      #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
        .card-body
          .d-grid.pages-list(style="grid-template-columns: repeat(5, 1fr); grid-gap: 15px;")
            each val, index in ['patient-sign-up', 'patient-onboarding-1', 'patient-onboarding-2', 'patient-mathing-counselors','patient-chosse-counselor','patient-chosse-timeslot','patient-consultation','patient-profile','patient-biling','patient-counselor-after-match-1','patient-counselor-after-match-2','patient-counselor-after-match-3','patient-counselor-after-match-4']
              .item(style="height: 155px;overflow: hidden;border: 1px solid #1c2945;")
                a(href= val +".html" target="_blank")
                  img(src="screenshot/"+ val +".jpg" alt="")
    .card
      #headingTwo.card-header
        h2.mb-0
          button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
            | Design Counselor
      #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
        .card-body
          .d-grid.pages-list(style="grid-template-columns: repeat(5, 1fr); grid-gap: 15px;")
            each val, index in ['counselor-sign-in','counselor-onboarding-1','counselor-onboarding-2','counselor-onboarding-3','counselor-onboarding-4']
              a(href= val +".html" target="_blank")
                img(src="screenshot/"+ val +".jpg" alt="")