extends layouts/app.jade

block title
  title Patient Choose Counselor

block main
  .space
    .container
      .form-step.mx-auto
        .step-border
        .d-grid.text-center.font-medium.font-weight-bold.ff-work
          each val, index in ['Matching Clinicians', 'Choose Clinician', 'Choose Timeslot', 'Consultation']
            - var className = (index == 1) ? 'active' : ''
            .step-part(class=className)
              .mx-auto.step-number.color-white.bg-manatee.mb-3= index+1
              .title.color-manatee= val
      .choose-counselor.mx-auto.pt-sm-5.pt-4  
        .row.pt-sm-3
          - for(var x=0; x<4; x++)
            - var className = (x == 0) ? 'active' : ''
            .col-md-6
              .item(class=className)
                .avator.d-flex.align-items-center.justify-content-center.justify-content-md-start
                  .img
                    img(src="dist/images/counsilor.png" alt="")
                  .text
                    a.title.color-cloud-burst.font-weight-bold.ff-work(href="#") Dr. Peter Kirkpatrick
                    p.m-0.color-tundora.font-medium.mt-2
                      <i class="fas fa-map-marker-alt color-crimson mr-2"></i>
                      | London  
                .d-grid.text-center.mt-lg-4.mt-0.pt-3
                  button.ff-work.color-boulder.input-submit.bg-white.text-center.font-weight-bold.text-uppercase.font-medium(type="submit") 
                    | View profile
                  button.ff-work.input-submit.bg-chestnut.font-weight-bold.text-uppercase.color-white.font-medium(type="submit") 
                    | Select counselor
      .show-more.text-center.mt-sm-3.mt-0
        a(href="#").font-small.color-boulder.text-uppercase.font-weight-bold.ff-work.text-decoration-none
          <i class="far fa-redo-alt mr-2"></i>
          | Show more