extends layouts/app.jade

block title
  title Patient Counselor After Match 3

block main
  .caunselor-after-match.n-2.n-3.n-4
    .d-grid
      .chat-area
        .chat-area-height 
          - for(var x=0; x<3; x++) 
            .chat-content.left
              .text
                .time.ff-work.font-small.font-weight-bold.color-cloud-burst.pb-1 Tony Parker 12:50
                .chat-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              .img
                img(src="dist/images/counsilor.png" alt="")
        .send-message
          .message.d-flex
            input.border-0.input-text.m-0.pr-0(type="text" placeholder="Enter your message")
            button.color-tamarillo(type="submit") 
              <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.064 6.55036C10.8125 6.44255 10.5211 6.49334 10.3208 6.67978C10.1206 6.86631 10.0493 7.15341 10.139 7.41188L13.088 15.9151L32.9153 15.9153L11.064 6.55036Z" fill="#A80F14"/>
                <path d="M13.0879 17.2973L10.1388 25.8006C10.0519 26.0514 10.1164 26.3289 10.303 26.5156C10.3088 26.5214 10.3147 26.527 10.3208 26.5327C10.521 26.7192 10.8124 26.77 11.0639 26.6622L32.9153 17.2973L13.0879 17.2973Z" fill="#A80F14"/>
              </svg>
      .video-connecting.text-center
        <svg width="70" height="84" viewBox="0 0 70 84" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M70 35.2734C70 25.8515 66.3594 16.9936 59.7487 10.3313C53.1381 3.66909 44.3489 0 35 0C25.6511 0 16.8619 3.66909 10.2513 10.3313C3.64065 16.9936 0 25.8515 0 35.2734C0 44.6954 3.64065 53.5533 10.2513 60.2155C12.8072 62.7915 15.6899 64.9176 18.8036 66.5595C15.0936 70.6118 13.0233 75.895 13.0233 81.5391V84H56.9767V81.5391C56.9767 75.8951 54.9064 70.6118 51.1964 66.5597C54.3101 64.9177 57.1928 62.7915 59.7487 60.2157C66.3594 53.5533 70 44.6954 70 35.2734ZM51.9218 79.0781H18.0782C18.6443 75.0473 20.596 71.3823 23.6497 68.657C27.2552 69.8987 31.0779 70.5469 35 70.5469C38.9221 70.5469 42.7448 69.8987 46.3503 68.657C49.404 71.3824 51.3557 75.0473 51.9218 79.0781ZM35 65.625C18.3939 65.625 4.88372 52.0095 4.88372 35.2734C4.88372 18.5374 18.3939 4.92188 35 4.92188C51.6061 4.92188 65.1163 18.5374 65.1163 35.2734C65.1163 52.0095 51.6061 65.625 35 65.625Z" fill="#1C2945"/>
          <path d="M35 22.9688C28.2678 22.9688 22.7907 28.4886 22.7907 35.2734C22.7907 42.0582 28.2678 47.5781 35 47.5781C41.7322 47.5781 47.2093 42.0582 47.2093 35.2734C47.2093 28.4886 41.7322 22.9688 35 22.9688ZM35 42.6562C30.9607 42.6562 27.6744 39.3443 27.6744 35.2734C27.6744 31.2026 30.9607 27.8906 35 27.8906C39.0393 27.8906 42.3256 31.2026 42.3256 35.2734C42.3256 39.3443 39.0393 42.6562 35 42.6562Z" fill="#ED1C24"/>
          <path d="M49.6512 23.7891C51.4493 23.7891 52.907 22.32 52.907 20.5078C52.907 18.6956 51.4493 17.2266 49.6512 17.2266C47.853 17.2266 46.3954 18.6956 46.3954 20.5078C46.3954 22.32 47.853 23.7891 49.6512 23.7891Z" fill="#ED1C24"/>
        </svg>
        h3.color-cloud-burst.ff-work.pt-2 Connecting!  