extends layouts/app.jade

block title
  title Patient Billing

block main
  .space
    .container
      .patient-billing.mx-auto
        .plan.bg-athens-gray
          .row.align-items-center
            .col-md-8.plan-text
              h3.color-cloud-burst.ff-work.mb-3 Current plan
              p.font-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-md-4.price
              p.color-cloud-burst.ff-work.font-weight-bold.m-0 
                | $79
                span Per Month

          .row.mt-3.align-items-center
            .col-md-8
              p.font-big.font-weight-bold.color-cloud-burst.ff-work.m-0 Your current Card ending in:
            .col-md-4.text-center
              .button-hover.button-white.btn.font-weight-bold.ff-work.font-big.color-cloud-burst 5757  
        form.credit-card.mt-4.pt-3.ff-work(action="#")
          h4.color-cloud-burst.font-weight-bold.ff-work.mb-3 Enter new card details 
          label.font-weight-bold.color-cloud-burst.font-medium(for="card") Card number:
          .d-grid
            -for (var x=0; x<4; x++)
              input.input-text(type="text")
          .d-grid
            label.font-weight-bold.color-cloud-burst.font-medium.m-0(for="calender") 
              span.mb-2.d-block Card number:
              .input-relative
                <input id="calender" class="input-text mb-0" data-toggle="datepicker" placeholder="04/24">
                <i class="fas fa-calendar-alt"></i>   
            label.font-weight-bold.color-cloud-burst.font-medium.m-0(for="calender") 
              span.mb-2.d-block Card number:
              .input-relative
                input.input-text.mb-0(type="text")
            .align-self-end.submit
              button.w-100.text-uppercase.font-medium.btn.text-nowrap.input-submit.bg-tamarillo.button-hover.font-weight-bold.color-white save changes      
        .history
          h3.color-cloud-burst.ff-work History
          .book-time-controll.pb-2.pt-4.mt-2
            .row.align-items-center
              .col-md-6
                p.color-manatee.m-0.font-weight-bold Monday 29th October
                  <i class="fas fa-calendar-alt ml-3"></i>
              .col-md-6.text-right(style="font-size: 10px;")
                .arrow.d-inline-block.mr-2
                  <i class="fal fa-angle-left"></i>  
                .arrow.d-inline-block
                  <i class="fal fa-angle-right"></i>   
          table.table.table-striped
            - for(var x=0; x<3; x++)
              tr
                td.col-2 30/10/2019
                td Standard Plan
                td.text-right $ 79 per month
          div(style="border-bottom: 1px solid #d5d5d5; padding-top: 20px;")      


