extends layouts/app.jade

block title
  title Patient Onboarding 2

block header
  include partials/header-login.jade

block main
  .onboarding.onboarding-1.space
    .container
      .row
        .col-md-6.color-tundora.pt-5
          h1.color-cloud-burst.mb-4 Help us match you to the right clinician.
          p Please fill out this short questionnaire to provide some general and anonymous background about you and the issues you’d like to deal with in online therapy. 
          p This information will help us match you with the most suitable  clinician for you. Your answers will also give this clinician a good  starting point in getting to know you.
        .col-md-6
          form.box-card.ml-auto.question(action="#" style="max-width: 450px;")
            .mb-3  
              h3.color-cloud-burst.position-relative.d-flex Question One?
                .step 1/5
            - for(var x=0; x<4; x++)
              .mb-3
                label.radio.d-flex.align-items-center(for="Patient" + x)
                  input(type="radio" id="Patient" + x name="gender" value="male")
                  span Choose the option that suits you    
            .d-grid.text-center.mt-4.pt-3
              button.ff-work.color-boulder.mb-2.input-submit.bg-alabaster.text-center.font-weight-bold.text-uppercase.font-medium(type="submit") 
                <i class="fal fa-angle-left mr-2"></i>
                | Back
              button.ff-work.mb-2.input-submit.bg-tamarillo.font-weight-bold.text-uppercase.color-white.font-medium(type="submit") 
                | Next question
                <i class="fal fa-angle-right ml-2"></i>
            p.font-medium.mb-0.color-comet.mt-3.d-flex 
              span.color-geraldine *
              | Please answer the following questions to help you mathch with the best counselors    