footer.main-footer.font-small.bg-cloud-burst.py-4.mt-auto
  .container-fluid.py-2.color-white
    .row
      .col-sm-6.text-sm-left.text-center.mb-2.m-sm-0
        p.m-0 Copyright © 2019 Vets Treting Vets, Inc.
      .col-sm-6.text-sm-right.text-center
        a.color-white(href="#") Privacy Policy 
        | | 
        a.color-white(href="#") Terms and Conditions