footer.main-footer.font-small.bg-cloud-burst.py-4
  .container.py-2.color-white
    .row
      .col-md-6
        p.m-0 Copyright © 2019 Vets Treting Vets, Inc.
      .col-md-6.text-right
        a.color-white(href="#") Privacy Policy
        | | 
        a.color-white(href="#") Terms and Conditions