header.main-header.header-login.bg-cloud-burst.color-white
  .container-fluid
    .row
      .col-sm-6.col-5
        a(href="#")
          picture
            source(media='(min-width: 768px)' srcset='dist/images/logo.png')
            img(src='dist/images/logo-mobile.svg' alt='logo' style='width:auto;')
      .col-sm-6.col-7.text-right
        a.btn.button-head.color-white.font-weight-bold(href="#") Login
        a.btn.button-head.color-cloud-burst.bg-white.font-weight-bold(href="#") Get started