{
  "name": "Vets",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "resources/assets/styles/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"dist/styles/style.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "resources/assets/script/main.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/scripts/main-dist.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "resources/views/index.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/assets/script/common/custom.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/scripts/custom-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "resources/assets/script/custom.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"dist/scripts/custom-dist.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "resources/views/sign-up.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"sign-up.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/onboarding-1.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"onboarding-1.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/onboarding-2.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"onboarding-2.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-onboarding-1.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-onboarding-1.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-onboarding-2.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-onboarding-2.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-sign-up.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-sign-up.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-mathing-counselors.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-mathing-counselors.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-chosse-counselor.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-chosse-counselor.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-chosse-timeslot.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-chosse-timeslot.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-consultation.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-consultation.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-profile.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-profile.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-biling.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-biling.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-counselor-after-match-1.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-counselor-after-match-1.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-counselor-after-match-2.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-counselor-after-match-2.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-counselor-after-match-3.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-counselor-after-match-3.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/patient-counselor-after-match-4.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"patient-counselor-after-match-4.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-sign-in.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-sign-in.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-onboarding-1.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-onboarding-1.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-onboarding-2.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-onboarding-2.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-onboarding-3.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-onboarding-3.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-onboarding-4.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-onboarding-4.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-onboarding-5.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-onboarding-5.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-onboarding-6.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-onboarding-6.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-patient-after-match-1.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-patient-after-match-1.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-patient-after-match-2.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-patient-after-match-2.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-patient-after-match-3.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-patient-after-match-3.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-mathing-patient.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-mathing-patient.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-chosse-patient.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-chosse-patient.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-consultation.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-consultation.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-schedule-2.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-schedule-2.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-schedule-3.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-schedule-3.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-profile.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-profile.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "resources/views/counselor-withdraw.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"counselor-withdraw.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "resources/views",
      "resources/assets/script/common",
      "resources",
      "resources/assets/styles/common",
      "resources/assets/styles/layouts"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "resources/views/counselor-chosse-patient.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-consultation.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-mathing-patient.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-onboarding-1.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-onboarding-2.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-onboarding-3.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-onboarding-4.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-onboarding-5.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-onboarding-6.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-patient-after-match-1.jade",
      "imports": [
        "resources/views/patient-counselor-after-match-1.jade",
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-patient-after-match-2.jade",
      "imports": [
        "resources/views/patient-counselor-after-match-4.jade",
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-patient-after-match-3.jade",
      "imports": [
        "resources/views/patient-counselor-after-match-2.jade",
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-profile.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-schedule-2.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-schedule-3.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-sign-in.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/counselor-withdraw.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/index.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-biling.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-chosse-counselor.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-chosse-timeslot.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-consultation.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-counselor-after-match-1.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-counselor-after-match-2.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-counselor-after-match-3.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-counselor-after-match-4.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-mathing-counselors.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-onboarding-1.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-onboarding-2.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-profile.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/views/patient-sign-up.jade",
      "imports": [
        "resources/views/layouts/app.jade",
        "resources/views/partials/header-login.jade",
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/assets/script/main.js",
      "imports": [
        "resources/assets/script/common/jquery.js",
        "resources/assets/script/common/bootstrap.min.js",
        "resources/assets/script/common/datepicker.min.js",
        "resources/assets/script/common/jquery.checkradios.js"
      ]
    },
    {
      "path": "resources/assets/styles/style.scss",
      "imports": [
        "resources/assets/styles/components/bootstrap/scss/bootstrap.scss",
        "resources/assets/styles/common/_variables.scss",
        "resources/assets/styles/common/_fontawesome.scss",
        "resources/assets/styles/common/_global.scss",
        "resources/assets/styles/layouts/_header.scss",
        "resources/assets/styles/layouts/_page.scss",
        "resources/assets/styles/layouts/_footer.scss",
        "resources/assets/styles/components/bootstrap/scss/_functions.scss",
        "resources/assets/styles/components/bootstrap/scss/_variables.scss",
        "resources/assets/styles/components/bootstrap/scss/_mixins.scss",
        "resources/assets/styles/components/bootstrap/scss/_root.scss",
        "resources/assets/styles/components/bootstrap/scss/_reboot.scss",
        "resources/assets/styles/components/bootstrap/scss/_type.scss",
        "resources/assets/styles/components/bootstrap/scss/_images.scss",
        "resources/assets/styles/components/bootstrap/scss/_code.scss",
        "resources/assets/styles/components/bootstrap/scss/_grid.scss",
        "resources/assets/styles/components/bootstrap/scss/_tables.scss",
        "resources/assets/styles/components/bootstrap/scss/_forms.scss",
        "resources/assets/styles/components/bootstrap/scss/_buttons.scss",
        "resources/assets/styles/components/bootstrap/scss/_transitions.scss",
        "resources/assets/styles/components/bootstrap/scss/_dropdown.scss",
        "resources/assets/styles/components/bootstrap/scss/_button-group.scss",
        "resources/assets/styles/components/bootstrap/scss/_input-group.scss",
        "resources/assets/styles/components/bootstrap/scss/_custom-forms.scss",
        "resources/assets/styles/components/bootstrap/scss/_nav.scss",
        "resources/assets/styles/components/bootstrap/scss/_navbar.scss",
        "resources/assets/styles/components/bootstrap/scss/_card.scss",
        "resources/assets/styles/components/bootstrap/scss/_breadcrumb.scss",
        "resources/assets/styles/components/bootstrap/scss/_pagination.scss",
        "resources/assets/styles/components/bootstrap/scss/_badge.scss",
        "resources/assets/styles/components/bootstrap/scss/_jumbotron.scss",
        "resources/assets/styles/components/bootstrap/scss/_alert.scss",
        "resources/assets/styles/components/bootstrap/scss/_progress.scss",
        "resources/assets/styles/components/bootstrap/scss/_media.scss",
        "resources/assets/styles/components/bootstrap/scss/_list-group.scss",
        "resources/assets/styles/components/bootstrap/scss/_close.scss",
        "resources/assets/styles/components/bootstrap/scss/_toasts.scss",
        "resources/assets/styles/components/bootstrap/scss/_modal.scss",
        "resources/assets/styles/components/bootstrap/scss/_tooltip.scss",
        "resources/assets/styles/components/bootstrap/scss/_popover.scss",
        "resources/assets/styles/components/bootstrap/scss/_carousel.scss",
        "resources/assets/styles/components/bootstrap/scss/_spinners.scss",
        "resources/assets/styles/components/bootstrap/scss/_utilities.scss",
        "resources/assets/styles/components/bootstrap/scss/_print.scss",
        "resources/assets/styles/components/bootstrap/scss/vendor/_rfs.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_deprecate.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_breakpoints.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_hover.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_image.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_badge.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_resize.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_screen-reader.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_size.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_reset-text.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-emphasis.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-hide.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-truncate.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_visibility.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_alert.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_buttons.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_caret.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_pagination.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_lists.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_list-group.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_nav-divider.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_forms.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_table-row.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_background-variant.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_border-radius.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_box-shadow.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_gradients.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_transition.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_clearfix.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_grid-framework.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_grid.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_float.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_align.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_background.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_borders.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_clearfix.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_display.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_embed.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_flex.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_float.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_overflow.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_position.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_screenreaders.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_shadows.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_sizing.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_stretched-link.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_spacing.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_text.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "resources/views/layouts/app.jade",
      "imports": [
        "resources/views/partials/functions.jade",
        "resources/views/partials/header.jade",
        "resources/views/partials/footer.jade"
      ]
    },
    {
      "path": "resources/assets/styles/components/bootstrap/scss/bootstrap-grid.scss",
      "imports": [
        "resources/assets/styles/components/bootstrap/scss/_functions.scss",
        "resources/assets/styles/components/bootstrap/scss/_variables.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_breakpoints.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_grid-framework.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_grid.scss",
        "resources/assets/styles/components/bootstrap/scss/_grid.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_display.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_flex.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_spacing.scss"
      ]
    },
    {
      "path": "resources/assets/styles/components/bootstrap/scss/bootstrap-reboot.scss",
      "imports": [
        "resources/assets/styles/components/bootstrap/scss/_functions.scss",
        "resources/assets/styles/components/bootstrap/scss/_variables.scss",
        "resources/assets/styles/components/bootstrap/scss/_mixins.scss",
        "resources/assets/styles/components/bootstrap/scss/_reboot.scss",
        "resources/assets/styles/components/bootstrap/scss/vendor/_rfs.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_deprecate.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_breakpoints.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_hover.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_image.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_badge.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_resize.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_screen-reader.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_size.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_reset-text.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-emphasis.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-hide.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-truncate.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_visibility.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_alert.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_buttons.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_caret.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_pagination.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_lists.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_list-group.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_nav-divider.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_forms.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_table-row.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_background-variant.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_border-radius.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_box-shadow.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_gradients.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_transition.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_clearfix.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_grid-framework.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_grid.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "resources/assets/styles/components/bootstrap/scss/bootstrap.scss",
      "imports": [
        "resources/assets/styles/components/bootstrap/scss/_functions.scss",
        "resources/assets/styles/components/bootstrap/scss/_variables.scss",
        "resources/assets/styles/components/bootstrap/scss/_mixins.scss",
        "resources/assets/styles/components/bootstrap/scss/_root.scss",
        "resources/assets/styles/components/bootstrap/scss/_reboot.scss",
        "resources/assets/styles/components/bootstrap/scss/_type.scss",
        "resources/assets/styles/components/bootstrap/scss/_images.scss",
        "resources/assets/styles/components/bootstrap/scss/_code.scss",
        "resources/assets/styles/components/bootstrap/scss/_grid.scss",
        "resources/assets/styles/components/bootstrap/scss/_tables.scss",
        "resources/assets/styles/components/bootstrap/scss/_forms.scss",
        "resources/assets/styles/components/bootstrap/scss/_buttons.scss",
        "resources/assets/styles/components/bootstrap/scss/_transitions.scss",
        "resources/assets/styles/components/bootstrap/scss/_dropdown.scss",
        "resources/assets/styles/components/bootstrap/scss/_button-group.scss",
        "resources/assets/styles/components/bootstrap/scss/_input-group.scss",
        "resources/assets/styles/components/bootstrap/scss/_custom-forms.scss",
        "resources/assets/styles/components/bootstrap/scss/_nav.scss",
        "resources/assets/styles/components/bootstrap/scss/_navbar.scss",
        "resources/assets/styles/components/bootstrap/scss/_card.scss",
        "resources/assets/styles/components/bootstrap/scss/_breadcrumb.scss",
        "resources/assets/styles/components/bootstrap/scss/_pagination.scss",
        "resources/assets/styles/components/bootstrap/scss/_badge.scss",
        "resources/assets/styles/components/bootstrap/scss/_jumbotron.scss",
        "resources/assets/styles/components/bootstrap/scss/_alert.scss",
        "resources/assets/styles/components/bootstrap/scss/_progress.scss",
        "resources/assets/styles/components/bootstrap/scss/_media.scss",
        "resources/assets/styles/components/bootstrap/scss/_list-group.scss",
        "resources/assets/styles/components/bootstrap/scss/_close.scss",
        "resources/assets/styles/components/bootstrap/scss/_toasts.scss",
        "resources/assets/styles/components/bootstrap/scss/_modal.scss",
        "resources/assets/styles/components/bootstrap/scss/_tooltip.scss",
        "resources/assets/styles/components/bootstrap/scss/_popover.scss",
        "resources/assets/styles/components/bootstrap/scss/_carousel.scss",
        "resources/assets/styles/components/bootstrap/scss/_spinners.scss",
        "resources/assets/styles/components/bootstrap/scss/_utilities.scss",
        "resources/assets/styles/components/bootstrap/scss/_print.scss",
        "resources/assets/styles/components/bootstrap/scss/vendor/_rfs.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_deprecate.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_breakpoints.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_hover.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_image.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_badge.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_resize.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_screen-reader.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_size.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_reset-text.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-emphasis.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-hide.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-truncate.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_visibility.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_alert.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_buttons.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_caret.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_pagination.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_lists.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_list-group.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_nav-divider.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_forms.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_table-row.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_background-variant.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_border-radius.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_box-shadow.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_gradients.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_transition.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_clearfix.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_grid-framework.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_grid.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_float.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_align.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_background.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_borders.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_clearfix.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_display.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_embed.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_flex.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_float.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_overflow.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_position.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_screenreaders.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_shadows.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_sizing.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_stretched-link.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_spacing.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_text.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_visibility.scss"
      ]
    },
    {
      "path": "resources/assets/styles/components/bootstrap/scss/_mixins.scss",
      "imports": [
        "resources/assets/styles/components/bootstrap/scss/vendor/_rfs.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_deprecate.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_breakpoints.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_hover.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_image.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_badge.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_resize.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_screen-reader.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_size.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_reset-text.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-emphasis.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-hide.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_text-truncate.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_visibility.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_alert.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_buttons.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_caret.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_pagination.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_lists.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_list-group.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_nav-divider.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_forms.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_table-row.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_background-variant.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_border-radius.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_box-shadow.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_gradients.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_transition.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_clearfix.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_grid-framework.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_grid.scss",
        "resources/assets/styles/components/bootstrap/scss/mixins/_float.scss"
      ]
    },
    {
      "path": "resources/assets/styles/components/bootstrap/scss/_utilities.scss",
      "imports": [
        "resources/assets/styles/components/bootstrap/scss/utilities/_align.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_background.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_borders.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_clearfix.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_display.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_embed.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_flex.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_float.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_overflow.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_position.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_screenreaders.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_shadows.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_sizing.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_stretched-link.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_spacing.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_text.scss",
        "resources/assets/styles/components/bootstrap/scss/utilities/_visibility.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}