// ======================= sign-up
.sign-up {
  .item {
    max-width: 390px;
    border-radius: 10px;
    h1 {
      font-size: em(40px);
      line-height: (47/40);
      margin-bottom: calc-em(20, 40);
    }
    h3 {
      font-size: em(22px);
      line-height: (26/22);
      margin-bottom: calc-em(15, 22);
    }
  }
  form {
    .d-grid {
      grid-template-columns: 1fr em(15px) 1fr;
      grid-column-gap: 8px;
    }
  }
}
// =============================== .onboarding

.onboarding {
  .question {
    .d-grid {
      grid-template-columns: auto auto;
      grid-column-gap: em(30px);
    }
  }
}
// =========================== .form-step
.form-step {
  position: relative;
  max-width: 850px;
  .step-border {
    background-image: linear-gradient(to right, transparent 50%, #c6c9d1 50%);
    height: 1px;
    background-size: em(20px) 100%;
    position: absolute;
    width: 75%;
    top: 15px;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .d-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .step-part {
    .step-number {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    &.active {
      .step-number {
        background: $crimson;
        &:before {
          content: "";
          opacity: 0.2;
          width: 140%;
          height: 140%;
          background: $crimson;
          position: absolute;
          top: 50%;
          margin-top: -70%;
          border-radius: 50%;
        }
        &:after {
          content: "";
          position: absolute;
          width: 173%;
          height: 173%;
          background: $crimson;
          opacity: 0.1;
          top: 50%;
          margin-top: -86.67%;
          border-radius: 50%;
        }
      }
      .title {
        color: $cloud-burst;
      }
    }
  }
}

// ========================== .mathin-counselor
.mathin-counselor-content {
  min-height: 600px;
}
// ============================== choose-counselor
.choose-counselor {
  max-width: 890px;
  .item {
    background: #f4f4f6;
    border-radius: 5px;
    padding: em(30px);
    margin-bottom: em(30px);
    border: 1px solid transparent;
    .avator {
      img {
        height: em(80px);
        width: em(80px);
        border-radius: 8px;
        margin-right: em(30px);
      }
    }
    .title {
      font-size: em(22px);
    }
    .d-grid {
      grid-template-columns: auto auto;
      grid-column-gap: em(30px);
    }
    &.active {
      background: transparent;
      border-color: #e4e7ef;
      .bg-white {
        background-color: $alabaster !important;
      }
      .bg-chestnut {
        background: $tamarillo;
      }
    }
    .input-submit {
      min-height: 40px;
      font-size: (12px);
      &:hover {
        background: #1c2945 !important;
      }
    }
  }
}
// ================================= .choose-timeslot-content
.choose-timeslot-content {
  max-width: 570px;
  padding-top: em(80px);
  form {
    .d-grid {
      display: grid;
      grid-template-columns: 1fr em(90px);
      grid-column-gap: 30px;
      grid-row-gap: 20px;
    }
  }
}
.input-relative {
  position: relative;
  i {
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(64, 64, 64, 0.5);
    right: 20px;
    top: 12px;
    top: 14px;
  }
}
.book-time-controll {
  border-bottom: 1px solid #d5d5d5;
  .arrow {
    background: #f8f8f8;
    border-radius: 5px;
    width: calc-em(40, 30);
    height: calc-em(40, 30);
    text-align: center;
    line-height: (40/30);
    font-size: em(30px);
    color: #797979;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background: $cloud-burst;
      color: #fff;
    }
  }
}
.time-slot-radio {
  .radio {
    background: #f4f4f6;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 7px 20px;
    margin-top: 20px;
    margin-bottom: 0;
    color: rgba(64, 64, 64, 0.7);
    font-size: 16px;
    &.checked {
      background: none;
      border-color: #e4e7ef;
      color: $cloud-burst;
    }
  }
}
// ================================== .consltation-content
.consltation-content {
  .item {
    max-width: 330px;
    padding: 45px;
  }
}
// ================================= .patient-profile
.patient-profile {
  max-width: 370px;
  .upload {
    grid-template-columns: 150px auto;
    grid-column-gap: 35px;
    align-items: center;
  }
  .img {
    img {
      width: 150px;
      height: 150px;
      border-radius: 5px;
    }
  }
  .text {
    input[type="file"] {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
  }
}

// ================================= patient-billing
.patient-billing {
  max-width: 570px;
  .plan {
    padding: 30px;
    border-radius: 5px;
    .plan-text {
      border-right: 1px solid #c6c9d1;
    }
    .price {
      p {
        font-size: em(55px);
        line-height: 1.25;
        text-align: center;
        span {
          font-size: 16px;
          display: block;
        }
      }
    }
  }
  .credit-card {
    .d-grid {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 23px;
    }
    .submit {
      grid-column: 3/-1;
    }
  }
}
.history {
  margin-top: 50px;
  table {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .table td {
    padding: 9px 20px;
    border: none;
    color: $tundora;
  }
}

// ======================================== .caunselor-after-match
.caunselor-after-match {
  overflow: hidden;
  > .d-grid {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: calc(100vh - 174px);
  }
  .chat-list {
    position: relative;
    background: #121f3b;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 100px;
  }
  .chat-height {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .avator {
    padding: 20px 30px;
    cursor: pointer;
    transition: 0.3s;
    img {
      border-radius: 5px;
      width: 60px;
    }
    &.active,
    &:hover {
      background: #08132f;
    }
  }
  .book-appointment {
    border-top: 1px solid #08132f;
    background: #121f3b;
    padding: 30px;
  }
  .chat-area {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 110px;
    .chat-date {
      color: #c6c9d1;
      margin: 30px 0;
      span {
        padding: 0 40px;
      }
      &:after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        top: 9px;
        background: #c6c9d1;
        z-index: -1;
      }
    }
    .chat-area-height {
      padding: 30px;
      overflow-y: auto;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 1fr;
      align-items: end;
      grid-template-rows: 1fr;
    }
    .chat-content {
      max-width: 570px;
      display: grid;
      grid-template-columns: auto 50px;
      grid-column-gap: 30px;
      padding-top: 30px;
      &.left {
        grid-template-columns: 50px auto;
        .text {
          order: 2;
          .chat-text {
            border-radius: 0 5px 5px 5px;
            &:after {
              border-width: 0 10px 10px 0;
              border-color: transparent #f4f4f6 transparent transparent;
              right: auto;
              left: -9px;
            }
          }
        }
      }
      .chat-text {
        background: #f4f4f6;
        border-radius: 5px 0 5px 5px;
        padding: 15px 20px;
        font-size: em(14px);
        color: rgba(64, 64, 64, 0.7);
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: -9px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 0;
          border-color: #f4f4f6 transparent transparent transparent;
        }
      }
      .img {
        img {
          border-radius: 5px;
        }
      }
    }
    .send-message {
      .img {
        img {
          border-radius: 5px;
        }
      }
      display: grid;
      grid-template-columns: 50px auto;
      grid-column-gap: 30px;
      background: #fff;
      padding: 30px;
      align-items: center;
      .message {
        border: 1px solid #d5d5d5;
        border-radius: 5px 50px 50px 5px;
        overflow: hidden;
        button {
          width: 150px;
        }
      }
    }
  }
  // ===================n2
  &.n-2 {
    .chat-area {
      .chat-content {
        max-width: 100%;
      }
      .send-message {
        display: block;
        .message {
          border-radius: 5px;
        }
        button {
          background: none;
          border: none;
          width: auto;
        }
      }
    }
    .call-screen {
      background-size: cover;
      background-position: center;
      position: relative;
      .call-action {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 30px;
        a {
          width: 44px;
          height: 44px;
          background: #fff;
          border-radius: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0 (25px/2);
          font-size: 20px;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            background: #a80f14;
            color: #fff;
            path {
              fill: #fff;
            }
          }
        }
        .phone {
          transform: rotate(-135deg);
          background: #a80f14;
          color: #fff;
        }
      }
    }
  }
  // ====================n3
  &.n-3 {
    .chat-area {
      border-right: 1px solid #c6c9d1;
    }
    .choose-timeslot-content {
      padding-top: 0;
      align-self: center;
      padding: 30px 0;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  // =========================n4
  &.n-4 {
    .video-connecting {
      align-self: center;
    }
  }
}

// ======================================== thanks-greating
.thanks-greating {
  grid-template-rows: auto 82px;
  .header-content-wraper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 92px auto;
  }
  .onboarding {
    align-self: center;
    justify-content: center;
    h3 {
      font-weight: 600;
    }
    .email {
      line-height: (25/18);
      max-width: 320px;
      display: grid;
      grid-template-columns: 59px auto;
      align-items: center;
      p {
        padding-left: 26px;
        width: calc(100);
      }
    }
  }
}
// =============================== .counselor-mathing-patient-step
.counselor-mathing-patient-step {
  .d-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .step-border {
    width: 70%;
  }
}
